.monowatch-dialog {
	display: flex;
	flex-direction: column;
}

.monowatch-output {
	flex-grow: 1;
	line-height: 1.3em;

	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
}

.monowatch-sync-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.monowatch-sync-form-block {
	white-space: nowrap;
}
.monowatch-sync-form-block h3 {
	text-align: center;
}

.monowatch-sync-form-submitrow {
	width: 100%;
	margin-top: 1em;
}
.monowatch-sync-form-submitrow.monowatch-working {
    animation: monowatch-working-shake 0.4s infinite linear;
}

@keyframes monowatch-working-shake {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(3deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-3deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
